<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>View</title>
</head><body>net view<br/>
Lists shared resources on a domain. Used with no parameters lists all machine accounts in a domain.<br/>
<br/>
Options:<br/>
<br/>
\\computer name&#09;&#09;&#09;Specifies the computer whose resource should be viewed<br/>
/domain:&lt;domain name&gt;&#09;&#09;The domain to be used<br/>
/network:&lt;NetWare network&gt;&#09;A NetWare network to be used</body></html>